.botao-conta {
    margin-top: 2rem;
}

.botao-conta>a {
    padding: 0;
    margin: 0 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #278f96;
    cursor: pointer;
}

.botao-conta>a:hover {
    color: #53e0bd;
}