<div class="formulario-flex">
    <h1>Bem-vindo ao revistas tecnologicas</h1>
    <form>
        <div class="informacoes">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password">
        </div>
        <div class="botoes">
            <button>Enviar</button>
            <button (click)="back()">Voltar</button>
        </div>
    </form>
</div>