<footer>
    <div class="footer-link">
        <h3>Noticia/Artigos</h3>
        <a href="#">Bigdata</a>
        <a href="#">Evento</a>
        <a href="#">Infra/Redes</a>
        <a href="#">Desenvolvimento</a>
        <a href="#">Inteligencia artificial</a>
    </div>
    <div class="footer-link ">
        <h3>Noticia/Artigos</h3>
        <a href="#">Bigdata</a>
        <a href="#">Evento</a>
        <a href="#">Infra/Redes</a>
        <a href="#">Desenvolvimento</a>
        <a href="#">Inteligencia artificial</a>
    </div>
    <div class="icones">
        <h3>Redes sociais</h3>
        <div class="iconeFlex">
            <i class="ph-globe-bold"></i>
            <i class="ph-youtube-logo-fill"></i>
            <i class="ph-instagram-logo-bold"></i>
        </div>
    </div>
    <div class="logo_footer">
        <img src="/assets/image/logo.png" alt="logo rodape">
    </div>
</footer>